{% extends 'base.html' %}

{% block title %}
О нас
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Информация о магазине</h1>

    <div class="row">
        <div class="col-md-6">
            <h2>О компании</h2>
            <p>
                Наша компания была основана в 2023 году с целью предоставить покупателям широкий выбор качественных товаров по доступным ценам. Мы стремимся к тому, чтобы каждый мог найти то, что ему нужно, в нашем интернет-магазине.
            </p>
            <p>
                Мы предлагаем широкий ассортимент товаров, включая одежду, обувь, электронику, бытовую технику, товары для дома и многое другое. Мы сотрудничаем с ведущими производителями и поставщиками, чтобы гарантировать высокое качество наших товаров.
            </p>
        </div>
        <div class="col-md-6">
            <h2>Миссия компании</h2>
            <p>
                Наша миссия - сделать покупки в интернете удобными, выгодными и приятными для наших клиентов.
            </p>
            <h2>Ценности компании</h2>
            <ul>
                <li>Качество</li>
                <li>Доступность</li>
                <li>Удобство</li>
                <li>Клиентоориентированность</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Команда компании</h2>
            <p>
                Наша команда состоит из опытных профессионалов, которые любят свою работу и стремятся к тому, чтобы наши клиенты остались довольны.
            </p>
        </div>
        <div class="col-md-6">
            <h2>История компании</h2>
            <p>
                За годы работы мы заслужили доверие наших клиентов и стали одним из ведущих интернет-магазинов в России.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Контактные данные</h2>
            <p>
                Вы можете связаться с нами по телефону, электронной почте или через форму обратной связи на нашем сайте.
            </p>
            <p>
                Телефон: +7 (495) 123-45-67
                Электронная почта: info@example.com
                Форма обратной связи: https://example.com/feedback
            </p>
        </div>
    </div>
</div>
{% endblock %}
